{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <!----Center a container with div-->
    <div class="container">
      {% if user.is_authenticated %}
        <form id="create-post" action="{% url 'new_post' %}" method="post">
          {% csrf_token %}
            <div class="form-group">   
                <label for="post-content">What's on your mind?</label>
                <div id="post-content">
                  {{ form.content }}
                </div>
                <button type="submit" id="new-post-btn" class="btn btn-primary">Post</button>
            </div>
        </form>
        <hr>
      {% endif %}

      {% for post in posts %}
      <div class="card">
          <div class="card-body">
            <a href="{% url 'profile' post.poster %}"><h6 class="card-subtitle mb-2 text-muted">{{ post.poster }}</h6></a>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.time_posted }}</h6>
            <div id="post-content-div-{{ post.id }}">
              <p id="post-content-{{ post.id }}" class="card-text">{{ post.content }}</p>
            </div>
            <div id="edit-content-div-{{ post.id }}" style="display:none">
              <textarea id="textarea-{{ post.id }}" class="form-control" rows="3"></textarea>
              <div>
                <button id="save-edit-btn-{{ post.id }}" class="btn btn-primary">Save Edits</button>
                <button id="cancel-edit-btn-{{ post.id }}" class="btn btn-primary">Cancel Edits</button>
              </div>
            </div>
            <!----update with like toggle function, include js and css animation to add/remove class-based styling on a timer/fade-->

            {% if user.is_authenticated %}
            <div style="display:inline-block">
              <form id="like-form-{{ post.id }}" action="{% url 'toggle_like' post.id %}" method="POST">
                  {% csrf_token %}
                  {% if post.liked_by_active_user %}
                    <i id="liked-{{ post.id }}" class="fa fa-heart heart" style="font-size:24px;color:red" data-id="{{ post.id }}"></i>
                  {% else %}
                    <i id="liked-{{ post.id }}" class="fa fa-heart-o heart" style="font-size:24px" data-id="{{ post.id }}"></i>
                  {% endif %}
                </form> 
            </div>
            <div style="display:inline-block">
              {% if post.poster == request.user.username %}
                  <i class="fa fa-pencil pencil" style="font-size:24px" aria-hidden="true" data-id="{{ post.id }}"></i>
              {% endif %}
            </div>
            <div>
              <div style="display:inline-block;">
                  <h6 class="card-subtitle mb-2 text-muted">Likes:</h6>
              </div>
              <div style="display:inline-block;">
                  <span id="like-count-{{ post.id }}">{{ post.likes }}</span>
              </div>
            </div>
            
            
            {% else %}
              <a href="{% url 'login' %}" class="card-link"><i class="fa fa-heart-o" style="font-size:24px"></i></a>
              <div>
                  <div style="display:inline-block;">
                      <h6 class="card-subtitle mb-2 text-muted">Likes:</h6>
                  </div>
                  <div style="display:inline-block;">
                      <span id="like-count-{{ post.id }}">{{ post.likes }}</span>
                  </div>
                </div>
            {% endif %}
            
          </div>
      </div>

      {% endfor %}


    </div>

{% endblock %}

{% block script %}
  <script src="{% static 'network/like.js' %}"></script>
  <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}