{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <div class="container">

        <div id="profile-section">
            <h2 id="profile-user">{{ profile_user.username }}</h2>
            <div>
                <h4>Followers</h4>
                <h4 id="follower-count">{{ followers }}</h4>
            </div>
            <div>
                <h4>Following</h4>
                <h4 id="following-count">{{ following }}</h4>
            </div>
            
            {% if user.is_authenticated %}
                {% if user.id != profile_user.id %}
                    <div>
                        <form id="follow-form" action="{% url 'follow' profile_user.username %}" method="POST">
                            {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Follow</button>
                        </form>
                        <form id="unfollow-form" action="{% url 'unfollow' profile_user.username %}" method="POST">
                            {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Unfollow</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <hr>

        <div id="user-posts">
            {% for post in posts %}
            <div id="post-card-div-{{ post.id }}" class="card">
                <div class="card-body">
                  <a href="{% url 'profile' post.poster %}"><h6 class="card-subtitle mb-2 text-muted">{{ post.poster }}</h6></a>
                  <h6 class="card-subtitle mb-2 text-muted">{{ post.time_posted }}</h6>
                  <div id="post-content-div-{{ post.id }}">
                    <p id="post-content-{{ post.id }}" class="card-text">{{ post.content }}</p>
                  </div>
                  <div id="edit-content-div-{{ post.id }}" style="display:none">
                    <textarea id="textarea-{{ post.id }}" class="form-control" rows="3" maxlength="280"></textarea>
                    <div>
                      <button id="save-edit-btn-{{ post.id }}" class="btn btn-primary">Save Edits</button>
                      <button id="cancel-edit-btn-{{ post.id }}" class="btn btn-primary">Cancel Edits</button>
                    </div>
                  </div>
                  <!----update with like toggle function, include js and css animation to add/remove class-based styling on a timer/fade-->
      
                  {% if user.is_authenticated %}
                  <div style="display:inline-block">
                    <form id="like-form-{{ post.id }}" action="{% url 'toggle_like' post.id %}" method="POST">
                        {% csrf_token %}
                        {% if post.liked_by_active_user %}
                          <i id="liked-{{ post.id }}" class="fa fa-heart heart" style="font-size:24px;color:red" data-id="{{ post.id }}"></i>
                        {% else %}
                          <i id="liked-{{ post.id }}" class="fa fa-heart-o heart" style="font-size:24px" data-id="{{ post.id }}"></i>
                        {% endif %}
                      </form> 
                  </div>
                  <div style="display:inline-block">
                    {% if post.poster == request.user.username %}
                        <i class="fa fa-pencil pencil" style="font-size:24px" aria-hidden="true" data-id="{{ post.id }}"></i>
                        <i class="fa-solid fa-x delete-icon" style="font-size:24px" data-id="{{ post.id }}"></i>
      
      
                    {% endif %}
                  </div>
                  <div>
                    <div style="display:inline-block;">
                        <h6 class="card-subtitle mb-2 text-muted">Likes:</h6>
                    </div>
                    <div style="display:inline-block;">
                        <span id="like-count-{{ post.id }}">{{ post.likes }}</span>
                    </div>
                  </div>
                  
                  
                  {% else %}
                    <a href="{% url 'login' %}" class="card-link"><i class="fa fa-heart-o" style="font-size:24px"></i></a>
                    <div>
                        <div style="display:inline-block;">
                            <h6 class="card-subtitle mb-2 text-muted">Likes:</h6>
                        </div>
                        <div style="display:inline-block;">
                            <span id="like-count-{{ post.id }}">{{ post.likes }}</span>
                        </div>
                      </div>
                  {% endif %}
                  
                </div>
            </div>
      
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>
            
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                        <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
      
        </div>
        
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/like.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'network/edit.js' %}"></script>
        {% if user.id != profile_user.id %}
            <script src="{% static 'network/profile.js' %}"></script>
        {% else %}
            <script src="{% static 'network/delete.js' %}"></script>
        {% endif %}
    {% endif %}
{% endblock %}